//
//  Config.xcconfig
//  Splitter
//
//  Created by Michael Berk on 5/30/22.
//  Copyright © 2022 Michael Berk. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
ENV_APPCENTER_KEY=REPLACE_ME//Key for MS Appcenter/Sparkle
ENV_SIO_SECRET=REPLACE_ME//Splits.io client secret
ENV_SIO_CLIENT=REPLACE_ME//Splits.io client id