# Rubymine noise
.idea/

# BBedit noise
*.bbprojectd

# Mac OS X noise
.DS_Store

# Ignore bundler lock files
Gemfile.lock

# Ignore pkg folder
/pkg

# Ignore build folders
.rbenv-*
.ruby-gemset
.ruby-version
.sass-cache
.sassc
.tmp
build*
tmp
