!!!
%html{:lang => "#{current_page.hb_locale}"}
  %head
    :javascript
          window.location.href = "./index.html";
    %meta{:charset => 'UTF-8'}
    %meta{:name => 'robots', :content => 'noindex'}
    %meta{:'http-equiv' => 'refresh', :content => "0;url=./index.html" }
    %title= current_page.data.title || "#{product_name} Help"
  %body

-#
  This layout should be used for pages with no content, such as the index.html
  pages used as group metadata containers.
